
body{
    font-family:"HanHei TC","MHei","PingFang HK","STHeitiTC-Light","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size:18px;    
}
#event-list span:hover{
    cursor: pointer;
}

#main{
	/* Contains all the notes and limits their movement: */
	/*background: #e7e7e7;*/
	/*position: relative;*/
	/*left: 100px;*/
	/*top: 20px;*/
	/*width:70%;*/
	height:750px;
	z-index:10;
	overflow: visible;
	/*display: none;*/
}

.no-bullet-list{
    list-style-type: none;
}

#floor-plan{
    background-repeat:no-repeat
}
.map{
    background-repeat:no-repeat;
	/*background-color: #FFE4E1;*/
    background-color: #FFFFFF;
    height: 600px;
}

#advice-list{
    width: 100%;
    height:300px;
    overflow: auto;
}
.list-group-item{
	cursor: pointer;
}

.non-first-menu{
	display: none;
}

.circle-base {
    border-radius: 50%;
}

.point {
    width: 20px;
    height: 20px;
    background: #5bc0de;
    border: 3px solid #46b8da;
    z-index: 32;
}

.point:hover{
	color: #fff;
    background: #31b0d5;
    border:3px solid #269abc;
}

.point:active{
	color: #fff;
  	background: #31b0d5;
  	border: #269abc;
}

.point.selected{
	color: #fff;
  	background: #a1a1a1;
  	border: 3px solid #269abc;
}

.route.low-lv{
    color:#fff;
    background: #69d550;
  	border: 1px solid #1eb23a;
}

.route.normal-lv{
    color: #fff;
  	background: #f4d554;
  	border: 1px solid #c0c41b;
}
.route.high-lv{
    color: #fff;
  	background: #f13642;
  	border: 1px solid #b03330;
}

.best-path{
    background-color: #49ea1e !important;
}

input[type=button],input[type=reset],button{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
      touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

input[type=button]:hover,input[type=reset]:hover,button:hover{
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.modal{
	z-index: 999;
	/*background:#FFFFFF;*/
}

.error-msg{
    color: #ff0000;
}

#finish-monitor {
    display: none;
}