<!DOCTYPE html>
<html ng-app="listApp">
    <head>
        <title>Coventry Event List</title>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="css/jquery-ui.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
        <!--<script type="text/javascript" src="js/auth.js"></script>-->
        <link rel="stylesheet" href="css/styles.css"/>
        <script src="js/event-list.js"></script>
        <!--<link rel="stylesheet" href="css/styles.css"/>-->
        
    </head>
    <body ng-controller="EventListController">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Coventry Events</a>
                </div>
                <ul class="nav navbar-nav">
                    <li id="nav-home" class="active"><a href='/'>Home</a></li>
                    <li id="nav-events"><a href="/manage-event">Events</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--<li id="nav-login-logout" class="btn-login-logout"><a href="{{loginLogoutUrl}}">{{btnLoginLogoutVal}}</a></li>-->
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                
                <div id="main" class="col-md-12">
                    <!--<ul>-->
                    <!--    <li>-->
                            <div class="container">
                            <table id="event-list" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Event</th>
                                        <th>Weather Forecast</th>
                                    </tr>
                                </thead>
                                
                                <span>
                                <tr ng-repeat="event in events">
                                    <td>
                                        <ul class="no-bullet-list">
                                            <li>Event name:{{event.event_name}}</li>
                                            <li>Begin: {{event.event_starting_date_time}}</li>
                                            <li>Finish: {{event.event_ending_date_time}}</li>
                                            <li>Event venue: {{event.venue_name}}</li>
                                            <li>Description: {{event.event_description}}</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="no-bullet-list">
                                            <li>{{event.temp_man}}</li>
                                            <li>{{event.temp_min}}</li>
                                            <li>{{event.temp_day}}</li>
                                            <li>{{event.temp_night}}</li>
                                            <li>{{event.weather_info}}</li>
                                        </ul>
                                    </td>
                                </tr>
                                </span>
                            </table>
                            </div>
                    <!--    </li>-->
                    <!--</ul>-->
                </div>
            </div>
        </div>
        
        <div id="weather" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button> <!--The cross button-->
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>