

<script>
    $('.datetimepicker').datetimepicker();
    var eventKey=sessionStorage.getItem('event_key')
    var event
    for(var i=0;i<eventList.length;i++){
        if (eventKey==eventList[i].event_key){
            event=eventList[i]
        }
    }
    $('#delete-event-form').attr('action','/event/delete/'+event.event_key)
    $('#btn-delete-event').click(function(){
        $('#delete-event-form').submit()
    })
    $('#btn-close-event-edit-form')
    $('#edit-event-form').attr('action','/event/'+event.event_key)
    $("#event-name").val(event.event_name)
    $("#event-starting-date").val(event.event_starting_date_time)
    $("#event-ending-date").val(event.event_ending_date_time)
    $("#event-description").val(event.event_description)
    $('#venue-name').val(event.venue_name)
</script>

<form  id="edit-event-form" action="/event" method="post" role="form" enctype="multipart/form-data">
    <!--Step 1-->
    <!--<input type="hidden" id="event-key" name="event_key"/>-->
    <div id="add-event-form-step1" class="first-step">
        <div class="form-content">
            <div class="form-group">
                <label for="event-name">Event name:</label>
                <input type="text" class="form-control" id="event-name" name="event_name" value="" />
            </div>
            <div class="form-group">
                <label for="event-starting-date">Starting date:
                    <div class='input-group date' id="event-starting-datetimepicker">
                        <input type="text" class="form-control datetimepicker" id="event-starting-date" name="event_starting_date_time"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"/>
                        </span>
                    </div>
                </label>
            </div>
            <div class="form-group">
                <label for="event-ending-date">Ending date:
                    <div class='input-group date' id='event-ending-datetimepicker'>
                        <input type="text" class="form-control datetimepicker" id="event-ending-date" name="event_ending_date_time"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"/>
                        </span>
                    </div>
                </label>
            </div>
            <div class="form-group">
                <label for="event-description">Description (Optional):</label>
                <input type="text" class="form-control" id="event-description" name="event_description"/>
            </div>
            <div class="form-group">
                <label for="venue-name">Venue name</label>
                <input type="text" class="form-control" id="venue-name" name="venue_name"/>
            </div>
        </div>
        <div class="form-group form-bottom">
            <table width="100%">
                <tr>
                    <td width="10%" class="form-bottom-left"><button type="button" class="btn btn-default" id="btn-close-event-edit-form" data-dismiss="modal">Close</button></td>
                    <td width="10%" class="form-bottom-left"><button type="reset" class="btn btn-default">Reset</button></td>
                    <td width="10%" class="form-bottom-left"><button type="button" class="btn btn-danger" id="btn-delete-event" data-dismiss="modal">Delete</button></td>
                    <td width="80%"><div class="text-right"><button type="submit" class="btn btn-info obj-adding-submit btn-next-step">Submit</button></div> </td>
                </tr>
            </table>
        </div>
    </div>
    <!--Step 1 end-->
</form>
<form id="delete-event-form" action="/event/delete/" method="post">
    <input type="submit" style="display:none;" value=""/> 
</form>
