<div class="list-group" id="event-list">
    
</div>
<script>
var eventList=[]
$.getJSON("/events",function(data,status){
    
    
    $.each(data,function(key,val){
        handleEventData(key,val)
    })
    for(var i=0;i<eventList.length;i++){
        $('#event-list').append('<a class="event-list-item list-group-item" id="'+eventList[i].event_key+'">' + eventList[i].event_name + '</a>')
    }
})

function handleEventData(key,obj){
    var eventObj={
        event_key:key,
        event_name:obj.event_name,
        event_description:obj.event_description,
        event_starting_date_time:obj.event_starting_date_time,
        event_ending_date_time:obj.event_ending_date_time,
        venue_name:obj.venue_name
    }
    eventList.push(eventObj)
    // sessionStorage.setItem('event',eventObj)
}

$("#event-list").on('click','.list-group-item',function(){
    var eventKey=$(this).attr('id')
    changeMainContent('ajax/edit-event-form.html')
    changeSidebarMenuById('event-menu')
    sessionStorage.setItem('event_key',eventKey)
})
</script>