

<script>
    $('.datetimepicker').datetimepicker();
</script>

<form action="/event" method="post" role="form" enctype="multipart/form-data">
    <!--Step 1-->
    <div id="add-event-form-step1" class="first-step">
        <div class="form-content">
            <div class="form-group">
                <label for="event-name">Event name:</label>
                <input type="text" class="form-control" id="event-name" name="event_name"/>
            </div>
            <div class="form-group">
                <label for="event-starting-date">Starting date:
                    <div class='input-group date' id="event-starting-datetimepicker">
                        <input type="text" class="form-control datetimepicker" id="event-starting-date" name="event_starting_date_time"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"/>
                        </span>
                    </div>
                </label>
            </div>
            <div class="form-group">
                <label for="event-ending-date">Ending date:
                    <div class='input-group date' id='event-ending-datetimepicker'>
                        <input type="text" class="form-control datetimepicker" id="event-ending-date" name="event_ending_date_time"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"/>
                        </span>
                    </div>
                </label>
            </div>
            <div class="form-group">
                <label for="event-description">Description (Optional):</label>
                <input type="text" class="form-control" id="event-description" name="event_description"/>
            </div>
            <div class="form-group">
                <label for="venue-name">Venue name</label>
                <input type="text" class="form-control" id="venue-name" name="venue_name"/>
            </div>
        </div>
        <div class="form-group form-bottom">
            <table width="100%">
                <tr>
                    <td width="10%" class="form-bottom-left"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></td>
                    <td width="10%" class="form-bottom-left"><button type="reset" class="btn btn-default">Reset</button></td>
                    <td width="80%"><div class="text-right"><button type="submit" class="btn btn-info obj-adding-submit btn-next-step">Submit</button></div> </td>
                </tr>
            </table>
        </div>
    </div>
    <!--Step 1 end-->

</form>

